{% extends "base.html" %}

{% load static %}

{% block content %}


<!-- End Header -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <p>Hello, I'm Suraj Thakur, a resident of Seoni (Madhya Pradesh). I completed my Bachelor's degree in Computer
          Science from Shri Ram Institute of Science and Technology Jabalpur.</p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="{% static 'static/assets/img/Abott.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>Frontend &amp; Backend Developer</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 4 May 1999</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Linkedin:</strong>
                  https://www.linkedin.com/in/suraj-thakur-48131421b?trk=contact-info</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +91 9340875961</li>
                <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Seoni (MP.), INDIA</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 23</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> B.tech</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> Surajthakur4808@gmail.com</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Developer:</strong> Available</li>
              </ul>
            </div>
          </div>
          <p>
            Ad vel dolor natus animi quas velit aut illo atque magni omnis. Quod quam minus est animi? Et quae impedit
            debitis repudiandae. Fuga vitae dolorem, nesciunt esse
            ab omnis sequi incidunt illum! Amet, harum rem porro unde illo ratione expedita aut commodi facilis magni,
            perspiciatis rerum vero. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Skills</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">HTML <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">65%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">PYTHON <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Django <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">MySql <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End Skills Section -->

  <!-- ======= Facts Section ======= -->
  <section id="facts" class="facts">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Facts</h2>
        <p>Perferendis, minima hic. Id quo eaque reprehenderit pariatur minima tenetur aspernatur quis harum repellat
          atque, similique doloremque enim repellendus, voluptatum eligendi obcaecati accusamus quibusdam ipsam nihil
          adipisci explicabo quidem nam dolorem delectus.</p>
      </div>

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="22" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Projects</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="524" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Hours Of Support</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Hard Workers</p>
        </div>

      </div>

    </div>
  </section>
  <!-- End Facts Section -->

  {% endblock content %}