{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- End Header -->

<main id="main">

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Seeking an innovative and challenging career in a growing organization allows me to utilize my skills or
          knowledge and provides me with an opportunity for organization and career growth.</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Suraj Thakur</h4>
            <p><em>Hello, I'm Suraj Thakur, a resident of Seoni (Madhya Pradesh). I completed my Bachelor's degree in
                Computer Science from Shri Ram Institute of Science and Technology Jabalpur.</em></p>
            <p>
            <ul>
              <li>Seoni (M.P.)</li>
              <li>(+91) 9340875961</li>
              <li>Surajthakur4808@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <!-- <div class="resume-item">
              <h4>Master of Fine Arts &amp; Graphic Design</h4>
              <h5>2015 - 2016</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div> -->
          <div class="resume-item">
            <h4>B.tech (Bachelor of Technology) </h4>
            <h5>2017 - 2021</h5>
            <p><em>Shri ram institute of science and technology, jabalpur (MP)</em></p>
          </div>
          <div class="resume-item">
            <h4>Certificates </h4>
            <h5>2022 - 2023</h5>
            <p><em>Python & Django developer</em></p>

          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Work Experience</h3>
          <div class="resume-item">
            <h4>Python & Django developer</h4>
            <h5>2022 - 2023</h5>
            <p><em>Indore, Madhya Pradesh, India </em></p>
            <p>
            <ul>
              <li>As a fresher, I have completed 6-month training program in Python and Django.</li>
              <li>And Front-end development also. </li>
              <li>Various bootstrap templates</li>
              <li>Registration forms</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Project specialist</h4>
            <h5>2022 - 2023</h5>
            <p><em>Crud operation / Registration form / Templates</em></p>
            <p>
            <ul>
              <li>CRUD (Create, Read, Update, Delete) in the table.</li>
              <li>Skilled in creating new records, retrieving data, updating information and deleting recordsfrom
                database.</li>
              <li>Experience in implementing crud functionality using various technologies such as html, css,
                javaScript, jquery, bootstrap and mysql.</li>
              <li>Strong understanding of database concepts and MySql queries</li>
              <li>All the project based on model, view and templates (MVT) architechture.</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->

{% endblock content %}